<svg xmlns="http://www.w3.org/2000/svg" class="icon-sprite" aria-hidden="true">
  <symbol id="icon-predict" viewBox="0 0 32 32"><path d="M5 23V12m8 11V6m7 17v-8m7 8V3"/><path d="m3 7 5 1 3-4m7 6 4-3 5 1"/></symbol>
  <symbol id="icon-token" viewBox="0 0 32 32"><rect x="4" y="4" width="11" height="11" rx="3"/><rect x="18" y="7" width="10" height="10" rx="3"/><rect x="8" y="19" width="11" height="10" rx="3"/><path d="m23 23 5 5m0-5-5 5"/></symbol>
  <symbol id="icon-prompt" viewBox="0 0 32 32"><path d="M10 8c-6-7-13 5-5 8v8h22v-8c8-3 1-15-5-8-1-9-11-9-12 0Z"/><path d="M10 19h12m-17 9h22"/></symbol>
  <symbol id="icon-chat" viewBox="0 0 32 32"><path d="M27 19a5 5 0 0 1-5 5H12l-7 5v-9a5 5 0 0 1-3-5V9a5 5 0 0 1 5-5h15a5 5 0 0 1 5 5Z"/><path d="M9 12h11m-11 5h7"/></symbol>
  <symbol id="icon-model" viewBox="0 0 32 32"><circle cx="16" cy="16" r="5"/><ellipse cx="16" cy="16" rx="15" ry="7" transform="rotate(-35 16 16)"/><path d="m5 3 2 4m20 18 2 4"/></symbol>
  <symbol id="icon-notes" viewBox="0 0 32 32"><path d="M16 7C12 3 5 3 2 5v22c4-2 10-2 14 1 4-3 10-3 14-1V5c-3-2-10-2-14 2Z"/><path d="M16 7v21M6 11h5m-5 5h5m10-5h5m-5 5h5"/></symbol>
  <symbol id="icon-test" viewBox="0 0 32 32"><path d="M10 3h12m-9 0v10L5 25a3 3 0 0 0 3 4h16a3 3 0 0 0 3-4l-8-12V3M9 20h14"/><path d="m13 24 2 2 4-4"/></symbol>
  <symbol id="icon-finish" viewBox="0 0 32 32"><path d="M6 29V3m0 2h21l-5 6 5 6H6"/><path d="m12 10 3 3 5-6"/></symbol>
  <symbol id="icon-motion" viewBox="0 0 24 24"><path d="m13 3-6 10h5l-1 8 7-12h-6l1-6Z"/></symbol>
</svg>
